# Виртуальное окружение (то, о чем мы говорили!)
venv/
.venv/
env/

# Папка настроек PyCharm (её тоже нельзя отправлять на GitHub)
.idea/

# Временные файлы Python (кэш компиляции)
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи и временные файлы операционной системы
*.log
.DS_Store
Thumbs.db
